
/**
 * @file
 * Main stylesheet file.
 */

.hidden {
  display: none;
}

h3 {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

h4 {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
  width: 200px;
}

li {
  clear: both;
}

li button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  color: red;
  float: right;
  cursor: pointer;
  font-size: 16px;
}

.lists-wrapper, .todos-wrapper {
  display: inline-block;
  vertical-align: top;
}