{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Fyyur 🔥</h1>
		<p class="lead">Where musical artists meet musical venues</p>
		<h3>
			<a href="/venues"><button class="btn btn-primary btn-lg">Find a venue</button></a>
			<a href="/venues/create"><button class="btn btn-default btn-lg">Post a venue</button></a>
		</h3>
		<h3>
			<a href="/artists"><button class="btn btn-primary btn-lg">Find an artist</button></a>
			<a href="/artists/create"><button class="btn btn-default btn-lg">Post an artist</button></a>
		</h3>
		<p class="lead">Publicize about your show for free</p>
		<h3>
			<a href="/shows/create"><button class="btn btn-default btn-lg">Post a show</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/front-splash.jpg') }}" alt="Front Photo of Musical Band" />
	</div>
	<div class="col-sm-12">
		<p class="lead">Check recently added artists</p>
		<table class="table table-striped">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Genres</th>
				<th scope="col">Seeking venues</th>
			</tr>
			{% for artist in artists %}
			<tr>
				<td>
					<a href="/artists/{{ artist.id }}">{{artist.name}}</a>
				</td>
				<td>
					{{ artist.genres}}
				</td>
				<td>
					{% if artist.seeking_venues %} Yes {% else %} No {% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
	<p class="lead">Check recently added venues</p>
	<table class="table table-striped">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Genres</th>
			<th scope="col">Seeking talents</th>
		</tr>
		{% for venue in venues %}
		<tr>
			<td>
				<a href="/venues/{{ venue.id }}">{{venue.name}}</a>
			</td>
			<td>
				{{ venue.genres}}
			</td>
			<td>
				{% if venue.seeking_talent %} Yes {% else %} No {% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>

	</div>
</div>
{% endblock %}